.about{
    text-align: center;
    padding: 10px;
}

.about .chamada{
    font-size: 25px;
    font-weight: 2px;
    padding:5px;
}

.about .data{
    font-size: 15px;
    padding: 10px 0;

}

.about .descricao{
    font-size: 12px;
    line-height:20px;
}