.about{
    text-align: center;
    padding: 10px;
}

.about .chamada{
    font-size: 25px;
    font-weight: 2px;
}

.about .data{
    font-size: 15px;
    margin-top: 10px;

}

.about .descricao{
    margin-top: 10px;
    font-size: 12px;
    line-height:20px;
}

