.header {
    background: url('../img/destaque.jpeg') no-repeat;
    background-size: cover;
    padding-top: 10px;

}

.header .menu{
    text-align: center;
    font-size: 60%;
    
} 

.header .menu .menu-item{

    vertical-align: middle;
    
} 

.header .menu .menu-item{
    display: inline-block;
    margin: 10px 0 20px 0;

} 

.header .menu .menu-item a{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.07);
    border-radius: 4px;
    text-align: center;
    padding: 10px 10px 10px 10px;
    text-transform: uppercase;
    text-decoration: none;
}   

.header .menu .menu-item a:hover{
    background-color: #48A3A6;
}

.header .painel{
    text-align: center;
    font-size: 28px;
    
}

.header .painel .titulo{
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 1em;
    text-shadow: 2px 2px 5px black;
}

.header .painel .subtitulo{
    color: #66fd42;
    margin-top: 5px;
    text-transform: uppercase;
    font-size: 0.9em;
    text-shadow: 2px 2px 5px black;
}



.header .painel .inscricao {
    margin-top: 15px;
    
}

@media(min-width: 600px){
    .header .painel-principal{
        text-align: center;
        font-size: 200%;
        
    }   

}



