.header {
    background: url('../img/destaque.jpeg') no-repeat;
    background-size: cover;
    padding-top: 10px;

}

.header .menu{
    text-align: center;
} 

.header .menu .menu-item{

    vertical-align: middle;
    
} 

.header .menu .menu-item{
    display: inline-block;
    margin: 10px 0 20px 0;

} 

.header .menu .menu-item a{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0,0,0,0.1);
    border-radius: 7px;
    text-align: center;
    padding: 10px 10px 10px 10px;
    text-transform: uppercase;
    text-decoration: none;
}   

.header .menu .menu-item a:hover{
    background-color: #48A3A6;
}



